:root {
    --color-primario: #abdbe3;
    --color-acento: #025969;
    --color-fondo: #F7F9FA;
    --color-texto: #1A1A1A;
    --fuente: "Jost", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* /////// HEADER BOOTSTRAP ////////// */

/* ayuda estoy peleando con esto hace una hora*/
.navbar-nav .nav-link {
    color: var(--color-acento);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    transition: all 0.1s ease;
}

.navbar-nav .nav-link:hover {
    color: var(--color-texto);
    border-bottom: 2px solid var(--color-texto);
}

.navbar-brand:hover {
    border-bottom: none;
}

header .navbar {
    background-color: var(--color-primario);
}

nav a {
    text-decoration: none;
    color: var(--color-acento);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 1.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--color-texto);
    border-bottom: 2px solid var(--color-texto);
}

.contacto-rapido {
    text-align: center;      
    margin-bottom: 1rem;  
}


/* /////// CONFIG GENERAL ////////// */

body {
    font-family: var(--fuente);
    font-size: 16px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0 auto;
    padding: 0 1rem;
}

main { 
    padding: 2rem 0;
}

p {
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    color: var(--color-acento);
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #151b54;
}

/* /////// SECCIONES Y ARTICLE BOOSTRAP ////////// */

.tarjeta-programa {
    background-color: var(--color-fondo);
    border: none; /* Elimina el borde gris horrible que trae bootstrap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-programa:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); 
}

.tarjeta-programa .card-img-top {
    height: 250px;
    object-fit: cover;
}

.tarjeta-programa .card-title {
    color: var(--color-acento);
}

.alerta-unirse {
    background-color: var(--color-fondo);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alerta-unirse a {
    color: var(--color-acento);
    text-decoration: none;
}

.alerta-unirse:hover {
    color: var(--color-texto);
    transform: translateY(-0.5rem);
}

.alerta-unirse hr {
    border-color: var(--color-acento);
}

.alerta-unirse p {
    color: var(--color-texto);
}

/* /////// CAJA INDEX ////////// */

.caja-mision {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    text-align: center; 
    background-color: #ffffff; 
    padding: 3rem 4rem; 
    border-radius: 16px;
    max-width: 900px; 
    margin: 3rem auto; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
}

.lista-mision {
    text-align: left;
    margin-left: 2.5rem;
    color: var(--color-acento);
}

.caja-mision:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); 
}

/* /////// ARTICLE INDEX ////////// */

section article {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1000px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    gap: 2rem;
}

section article img {
    border-radius: 15px;
    width: 45%; 
    object-fit: cover;
}

section article:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); 
}

/* /////// PROGRAMAS DEL INDEX ////////// */

.info-programa {
    width: 55%;             
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el botón */
    text-align: center; /* Centra el texto de los párrafos */
}

.info-programa h3, .info-programa h4 {
    color: var(--color-acento);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.info-programa p, .info-programa ul, .info-programa dl {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #444; 
}

/* /////// BOTON INDEX BOOSTRAP ////////// */

.btn-primary {
    background-color: var(--color-acento) ;
    border-color: var(--color-acento);
    color: var(--color-fondo);
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-acento);
}

/* /////// FOOTER ////////// */

footer {
    background-color: var(--color-primario);
    color: var(--color-acento);
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 10px 10px 0 0;
}

footer a {
    text-decoration: none;
    color: var(--color-acento);
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    padding: 0.5rem;
}


/* ////////////////////////////////////////// */
/* PAGINA NOSOTROS */
/* ////////////////////////////////////////// */

body.nosotros{
    font-family: var(--fuente);
    font-size: 16px;
    color: var(--color-texto);

    background-image: url("../imagenes/nosotros.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Capa blanca transparente para que el texto se lea */
body.nosotros::before{
    content: "";
    position: fixed;
    inset: 0;

    background: rgba(255,255,255,0.45);

    z-index: -1;
}

/* Hace que las secciones parezcan tarjetas */
body.nosotros section{
    background: rgba(255,255,255,0.75);
    border-radius: 20px;

    padding: 3rem;
    margin: 3rem auto;

    box-shadow: 0 10px 25px rgba(0,0,0,.12);
}

/* Imagenes dentro de Nosotros */
body.nosotros img{
    width: 100%;
    max-width: 650px;

    display: block;
    margin: 0 auto;

    border-radius: 15px;
}

/* Párrafos */
body.nosotros p{
    line-height: 1.8;
    text-align: center;
}

/* Listas */
body.nosotros ul,
body.nosotros dl{
    text-align: left;
    width: fit-content;
    margin: auto;
    line-height: 1.8;
}
/*========================*/
/* BOTON MODO OSCURO */
/*========================*/

#modo{

    margin-top:15px;
    padding:10px 18px;

    border:none;
    border-radius:10px;

    cursor:pointer;

    background:var(--color-acento);
    color:white;

    font-size:16px;
    font-family:var(--fuente);

    transition:.3s;

}

#modo:hover{

    transform:scale(1.05);

}

/*========================*/
/* MODO OSCURO */
/*========================*/

body.dark-mode{

    --color-primario:#1f2937;
    --color-acento:#4FC3F7;
    --color-fondo:#121212;
    --color-texto:#F5F5F5;

    background:#121212;

    color:var(--color-texto);

}

body{

    background-color:var(--color-fondo);
    color:var(--color-texto);

    transition:0.4s;

}

body.dark-mode article{

    background:#1e1e1e;

    color:white;

}

body.dark-mode section{

    color:white;

}

body.dark-mode footer{

    background:#1f2937;

}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3{

    color:#4FC3F7;

}

body.dark-mode p,
body.dark-mode li,
body.dark-mode dt,
body.dark-mode dd{

    color:white;

}

body.dark-mode nav a{

    color:white;

}

body.dark-mode nav a:hover{

    color:#4FC3F7;

}

/*CONTACTO INTENTO DE ARREGLO*/

body.contacto{
    font-family: var(--fuente);
    font-size: 16px;
    color: var(--color-texto);

    background-image: url("../imagenes/nosotros.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Capa blanca transparente para que el texto se lea */
body.nosotros::before{
    content: "";
    position: fixed;
    inset: 0;

    background: rgba(255,255,255,0.45);

    z-index: -1;
}

/* Hace que las secciones parezcan tarjetas */
body.nosotros section{
    background: rgba(255,255,255,0.75);
    border-radius: 20px;

    padding: 3rem;
    margin: 3rem auto;

    box-shadow: 0 10px 25px rgba(0,0,0,.12);
}

/* Imagenes dentro de Nosotros */
body.nosotros img{
    width: 100%;
    max-width: 650px;

    display: block;
    margin: 0 auto;

    border-radius: 15px;
}

/* Párrafos */
body.nosotros p{
    line-height: 1.8;
    text-align: center;
}

/* Listas */
body.nosotros ul,
body.nosotros dl{
    text-align: left;
    width: fit-content;
    margin: auto;
    line-height: 1.8;
}
/*========================*/
/* BOTON MODO OSCURO */
/*========================*/

#modo{

    margin-top:15px;
    padding:10px 18px;

    border:none;
    border-radius:10px;

    cursor:pointer;

    background:var(--color-acento);
    color:white;

    font-size:16px;
    font-family:var(--fuente);

    transition:.3s;

}

#modo:hover{

    transform:scale(1.05);










